<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Solidworks Addin Installer" Language="1033" Version="1.0.0.0" Manufacturer="Stark Industries" UpgradeCode="f9dde1eb-07ba-4ec8-abb9-cf807a1bf882">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
  <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
  <MediaTemplate EmbedCab="yes" />

  <Feature Id="ProductFeature" Title="InstallAddin" Level="1">
    <ComponentRef Id="ProductComponent"/>
    <!--<ComponentRef Id="Extensibility"/>-->
    <ComponentRef Id="RegistryEntries"/>
  </Feature>
  </Product>
  <!-- Command Prompt in Folder .dll ausführen (cmd)
          "C:\Program Files (x86)\WiX Toolset v3.8\bin\heat.exe" file EspritAddinMachines.dll -ag -template fragment  -out EspritAddinMachines.wxs
          "C:\Program Files (x86)\WiX Toolset v3.8\bin\heat.exe" file EspritAddinMachines.tlb -ag -template fragment  -out EspritAddinMachinestlb.wxs
          dann von class bis registryvaluew in product.wxs copy paste - file id name auf .dll setzen (optional)
            -->
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="CompanyFolder" Name="Stark Industries Addin">
          <Directory Id="INSTALLLOCATION" Name="Solidworks Addin" />

          <Component Id="ProductComponent"  Guid="{D5E8F6C1-EA8E-44AB-BFB8-D9DAF092E750}" DiskId="1">
            <Class Id="{1197077E-CCFD-3FAC-B720-D8FBBFDAEEBE}" Context="InprocServer32" Description="Solidworksaddin.SwAddin+EDrawingFormats" ThreadingModel="both" ForeignServer="mscoree.dll">
              <ProgId Id="Solidworksaddin.SwAddin+EDrawingFormats" Description="Solidworksaddin.SwAddin+EDrawingFormats" />
            </Class>
            <Class Id="{5D8A1F46-EA8C-4DDB-8581-0A52F24245A0}" Context="InprocServer32" Description="Solidworksaddin.SwAddin" ThreadingModel="both" ForeignServer="mscoree.dll">
              <ProgId Id="Solidworksaddin.SwAddin" Description="Solidworksaddin.SwAddin" />
            </Class>
            <Class Id="{9CA465B7-5BE3-39EC-BB08-1EFA21580741}" Context="InprocServer32" Description="Solidworksaddin.SwAddin+SolidworksFormats" ThreadingModel="both" ForeignServer="mscoree.dll">
              <ProgId Id="Solidworksaddin.SwAddin+SolidworksFormats" Description="Solidworksaddin.SwAddin+SolidworksFormats" />
            </Class>
            <File Id="filFAB571FFD48DB0C0D700795DDEDBB238" KeyPath="yes" Source="..\Solidworksaddin\bin\x64\Debug\Solidworksaddin.dll" />
            <RegistryValue Root="HKCR" Key="CLSID\{1197077E-CCFD-3FAC-B720-D8FBBFDAEEBE}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="CLSID\{1197077E-CCFD-3FAC-B720-D8FBBFDAEEBE}\InprocServer32\1.0.5761.37734" Name="Class" Value="Solidworksaddin.SwAddin+EDrawingFormats" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="CLSID\{1197077E-CCFD-3FAC-B720-D8FBBFDAEEBE}\InprocServer32\1.0.5761.37734" Name="Assembly" Value="Solidworksaddin, Version=1.0.5761.37734, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="CLSID\{1197077E-CCFD-3FAC-B720-D8FBBFDAEEBE}\InprocServer32\1.0.5761.37734" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="CLSID\{1197077E-CCFD-3FAC-B720-D8FBBFDAEEBE}\InprocServer32\1.0.5761.37734" Name="CodeBase" Value="file:///[#filFAB571FFD48DB0C0D700795DDEDBB238]" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="CLSID\{1197077E-CCFD-3FAC-B720-D8FBBFDAEEBE}\InprocServer32" Name="Class" Value="Solidworksaddin.SwAddin+EDrawingFormats" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="CLSID\{1197077E-CCFD-3FAC-B720-D8FBBFDAEEBE}\InprocServer32" Name="Assembly" Value="Solidworksaddin, Version=1.0.5761.37734, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="CLSID\{1197077E-CCFD-3FAC-B720-D8FBBFDAEEBE}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="CLSID\{1197077E-CCFD-3FAC-B720-D8FBBFDAEEBE}\InprocServer32" Name="CodeBase" Value="file:///[#filFAB571FFD48DB0C0D700795DDEDBB238]" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="CLSID\{5D8A1F46-EA8C-4DDB-8581-0A52F24245A0}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="CLSID\{5D8A1F46-EA8C-4DDB-8581-0A52F24245A0}\InprocServer32\1.0.5761.37734" Name="Class" Value="Solidworksaddin.SwAddin" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="CLSID\{5D8A1F46-EA8C-4DDB-8581-0A52F24245A0}\InprocServer32\1.0.5761.37734" Name="Assembly" Value="Solidworksaddin, Version=1.0.5761.37734, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="CLSID\{5D8A1F46-EA8C-4DDB-8581-0A52F24245A0}\InprocServer32\1.0.5761.37734" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="CLSID\{5D8A1F46-EA8C-4DDB-8581-0A52F24245A0}\InprocServer32\1.0.5761.37734" Name="CodeBase" Value="file:///[#filFAB571FFD48DB0C0D700795DDEDBB238]" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="CLSID\{5D8A1F46-EA8C-4DDB-8581-0A52F24245A0}\InprocServer32" Name="Class" Value="Solidworksaddin.SwAddin" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="CLSID\{5D8A1F46-EA8C-4DDB-8581-0A52F24245A0}\InprocServer32" Name="Assembly" Value="Solidworksaddin, Version=1.0.5761.37734, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="CLSID\{5D8A1F46-EA8C-4DDB-8581-0A52F24245A0}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="CLSID\{5D8A1F46-EA8C-4DDB-8581-0A52F24245A0}\InprocServer32" Name="CodeBase" Value="file:///[#filFAB571FFD48DB0C0D700795DDEDBB238]" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="CLSID\{9CA465B7-5BE3-39EC-BB08-1EFA21580741}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="CLSID\{9CA465B7-5BE3-39EC-BB08-1EFA21580741}\InprocServer32\1.0.5761.37734" Name="Class" Value="Solidworksaddin.SwAddin+SolidworksFormats" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="CLSID\{9CA465B7-5BE3-39EC-BB08-1EFA21580741}\InprocServer32\1.0.5761.37734" Name="Assembly" Value="Solidworksaddin, Version=1.0.5761.37734, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="CLSID\{9CA465B7-5BE3-39EC-BB08-1EFA21580741}\InprocServer32\1.0.5761.37734" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="CLSID\{9CA465B7-5BE3-39EC-BB08-1EFA21580741}\InprocServer32\1.0.5761.37734" Name="CodeBase" Value="file:///[#filFAB571FFD48DB0C0D700795DDEDBB238]" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="CLSID\{9CA465B7-5BE3-39EC-BB08-1EFA21580741}\InprocServer32" Name="Class" Value="Solidworksaddin.SwAddin+SolidworksFormats" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="CLSID\{9CA465B7-5BE3-39EC-BB08-1EFA21580741}\InprocServer32" Name="Assembly" Value="Solidworksaddin, Version=1.0.5761.37734, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="CLSID\{9CA465B7-5BE3-39EC-BB08-1EFA21580741}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="CLSID\{9CA465B7-5BE3-39EC-BB08-1EFA21580741}\InprocServer32" Name="CodeBase" Value="file:///[#filFAB571FFD48DB0C0D700795DDEDBB238]" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{1427F6F5-A7E3-4458-9D74-FEA346A5D819}\1.0.5761.37734" Name="Class" Value="SolidWorks.Interop.swconst.swAddControlOptions_e" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{1427F6F5-A7E3-4458-9D74-FEA346A5D819}\1.0.5761.37734" Name="Assembly" Value="Solidworksaddin, Version=1.0.5761.37734, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{1427F6F5-A7E3-4458-9D74-FEA346A5D819}\1.0.5761.37734" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{1427F6F5-A7E3-4458-9D74-FEA346A5D819}\1.0.5761.37734" Name="CodeBase" Value="file:///[#filFAB571FFD48DB0C0D700795DDEDBB238]" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{4CEBEC16-6404-48F5-86D9-9B2D7CF43784}\1.0.5761.37734" Name="Class" Value="SolidWorks.Interop.swconst.swDwgPaperSizes_e" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{4CEBEC16-6404-48F5-86D9-9B2D7CF43784}\1.0.5761.37734" Name="Assembly" Value="Solidworksaddin, Version=1.0.5761.37734, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{4CEBEC16-6404-48F5-86D9-9B2D7CF43784}\1.0.5761.37734" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{4CEBEC16-6404-48F5-86D9-9B2D7CF43784}\1.0.5761.37734" Name="CodeBase" Value="file:///[#filFAB571FFD48DB0C0D700795DDEDBB238]" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{55A9AAAE-97D1-4621-A5A9-21A67CDCE87A}\1.0.5761.37734" Name="Class" Value="SolidWorks.Interop.swconst.swDocumentTypes_e" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{55A9AAAE-97D1-4621-A5A9-21A67CDCE87A}\1.0.5761.37734" Name="Assembly" Value="Solidworksaddin, Version=1.0.5761.37734, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{55A9AAAE-97D1-4621-A5A9-21A67CDCE87A}\1.0.5761.37734" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{55A9AAAE-97D1-4621-A5A9-21A67CDCE87A}\1.0.5761.37734" Name="CodeBase" Value="file:///[#filFAB571FFD48DB0C0D700795DDEDBB238]" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{5DD14240-9F98-48F9-83B3-F76FFD6F1256}\1.0.5761.37734" Name="Class" Value="SolidWorks.Interop.swconst.swNumberboxUnitType_e" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{5DD14240-9F98-48F9-83B3-F76FFD6F1256}\1.0.5761.37734" Name="Assembly" Value="Solidworksaddin, Version=1.0.5761.37734, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{5DD14240-9F98-48F9-83B3-F76FFD6F1256}\1.0.5761.37734" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{5DD14240-9F98-48F9-83B3-F76FFD6F1256}\1.0.5761.37734" Name="CodeBase" Value="file:///[#filFAB571FFD48DB0C0D700795DDEDBB238]" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{6875D35E-AAB7-4096-8E90-DE604A37E835}\1.0.5761.37734" Name="Class" Value="SolidWorks.Interop.swconst.swAddGroupBoxOptions_e" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{6875D35E-AAB7-4096-8E90-DE604A37E835}\1.0.5761.37734" Name="Assembly" Value="Solidworksaddin, Version=1.0.5761.37734, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{6875D35E-AAB7-4096-8E90-DE604A37E835}\1.0.5761.37734" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{6875D35E-AAB7-4096-8E90-DE604A37E835}\1.0.5761.37734" Name="CodeBase" Value="file:///[#filFAB571FFD48DB0C0D700795DDEDBB238]" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{718284B5-F5D6-4239-A90C-89AAE86BDB91}\1.0.5761.37734" Name="Class" Value="SolidWorks.Interop.swconst.swEndConditions_e" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{718284B5-F5D6-4239-A90C-89AAE86BDB91}\1.0.5761.37734" Name="Assembly" Value="Solidworksaddin, Version=1.0.5761.37734, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{718284B5-F5D6-4239-A90C-89AAE86BDB91}\1.0.5761.37734" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{718284B5-F5D6-4239-A90C-89AAE86BDB91}\1.0.5761.37734" Name="CodeBase" Value="file:///[#filFAB571FFD48DB0C0D700795DDEDBB238]" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{71BA686A-C954-46B8-A79A-79DADCB99AF5}\1.0.5761.37734" Name="Class" Value="SolidWorks.Interop.swconst.swPropertyManagerPageControlLeftAlign_e" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{71BA686A-C954-46B8-A79A-79DADCB99AF5}\1.0.5761.37734" Name="Assembly" Value="Solidworksaddin, Version=1.0.5761.37734, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{71BA686A-C954-46B8-A79A-79DADCB99AF5}\1.0.5761.37734" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{71BA686A-C954-46B8-A79A-79DADCB99AF5}\1.0.5761.37734" Name="CodeBase" Value="file:///[#filFAB571FFD48DB0C0D700795DDEDBB238]" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{787382D0-1E2F-4B00-B0E5-CB976E39280B}\1.0.5761.37734" Name="Class" Value="SolidWorks.Interop.swconst.swPropertyManagerPageStatus_e" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{787382D0-1E2F-4B00-B0E5-CB976E39280B}\1.0.5761.37734" Name="Assembly" Value="Solidworksaddin, Version=1.0.5761.37734, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{787382D0-1E2F-4B00-B0E5-CB976E39280B}\1.0.5761.37734" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{787382D0-1E2F-4B00-B0E5-CB976E39280B}\1.0.5761.37734" Name="CodeBase" Value="file:///[#filFAB571FFD48DB0C0D700795DDEDBB238]" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{81A319FF-3430-4E2F-8981-49F92D6A6A67}\1.0.5761.37734" Name="Class" Value="SolidWorks.Interop.swconst.swSelectType_e" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{81A319FF-3430-4E2F-8981-49F92D6A6A67}\1.0.5761.37734" Name="Assembly" Value="Solidworksaddin, Version=1.0.5761.37734, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{81A319FF-3430-4E2F-8981-49F92D6A6A67}\1.0.5761.37734" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{81A319FF-3430-4E2F-8981-49F92D6A6A67}\1.0.5761.37734" Name="CodeBase" Value="file:///[#filFAB571FFD48DB0C0D700795DDEDBB238]" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{92BC2AEE-0E3A-40EF-923D-EFD935545505}\1.0.5761.37734" Name="Class" Value="SolidWorks.Interop.swconst.swPropertyManagerPageOptions_e" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{92BC2AEE-0E3A-40EF-923D-EFD935545505}\1.0.5761.37734" Name="Assembly" Value="Solidworksaddin, Version=1.0.5761.37734, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{92BC2AEE-0E3A-40EF-923D-EFD935545505}\1.0.5761.37734" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{92BC2AEE-0E3A-40EF-923D-EFD935545505}\1.0.5761.37734" Name="CodeBase" Value="file:///[#filFAB571FFD48DB0C0D700795DDEDBB238]" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{A43B2211-19C4-4613-9B56-7A64952A2EA6}\1.0.5761.37734" Name="Class" Value="SolidWorks.Interop.swconst.swCommandTabButtonTextDisplay_e" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{A43B2211-19C4-4613-9B56-7A64952A2EA6}\1.0.5761.37734" Name="Assembly" Value="Solidworksaddin, Version=1.0.5761.37734, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{A43B2211-19C4-4613-9B56-7A64952A2EA6}\1.0.5761.37734" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{A43B2211-19C4-4613-9B56-7A64952A2EA6}\1.0.5761.37734" Name="CodeBase" Value="file:///[#filFAB571FFD48DB0C0D700795DDEDBB238]" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{B33A8523-7EFD-4B8C-AD0D-4BA9EB8B9F21}\1.0.5761.37734" Name="Class" Value="SolidWorks.Interop.swconst.swCommandFlyoutStyle_e" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{B33A8523-7EFD-4B8C-AD0D-4BA9EB8B9F21}\1.0.5761.37734" Name="Assembly" Value="Solidworksaddin, Version=1.0.5761.37734, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{B33A8523-7EFD-4B8C-AD0D-4BA9EB8B9F21}\1.0.5761.37734" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{B33A8523-7EFD-4B8C-AD0D-4BA9EB8B9F21}\1.0.5761.37734" Name="CodeBase" Value="file:///[#filFAB571FFD48DB0C0D700795DDEDBB238]" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{C6745E41-BD2F-402C-8792-475E2418BBFC}\1.0.5761.37734" Name="Class" Value="SolidWorks.Interop.swconst.swCommandItemType_e" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{C6745E41-BD2F-402C-8792-475E2418BBFC}\1.0.5761.37734" Name="Assembly" Value="Solidworksaddin, Version=1.0.5761.37734, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{C6745E41-BD2F-402C-8792-475E2418BBFC}\1.0.5761.37734" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{C6745E41-BD2F-402C-8792-475E2418BBFC}\1.0.5761.37734" Name="CodeBase" Value="file:///[#filFAB571FFD48DB0C0D700795DDEDBB238]" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{C7044F4E-27E1-4095-B6A5-35682477B8C8}\1.0.5761.37734" Name="Class" Value="SolidWorks.Interop.swconst.swComponentSuppressionState_e" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{C7044F4E-27E1-4095-B6A5-35682477B8C8}\1.0.5761.37734" Name="Assembly" Value="Solidworksaddin, Version=1.0.5761.37734, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{C7044F4E-27E1-4095-B6A5-35682477B8C8}\1.0.5761.37734" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{C7044F4E-27E1-4095-B6A5-35682477B8C8}\1.0.5761.37734" Name="CodeBase" Value="file:///[#filFAB571FFD48DB0C0D700795DDEDBB238]" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{C9521290-8561-4190-AD2B-409B4B7FFA6F}\1.0.5761.37734" Name="Class" Value="SolidWorks.Interop.swconst.swUserPreferenceStringValue_e" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{C9521290-8561-4190-AD2B-409B4B7FFA6F}\1.0.5761.37734" Name="Assembly" Value="Solidworksaddin, Version=1.0.5761.37734, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{C9521290-8561-4190-AD2B-409B4B7FFA6F}\1.0.5761.37734" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{C9521290-8561-4190-AD2B-409B4B7FFA6F}\1.0.5761.37734" Name="CodeBase" Value="file:///[#filFAB571FFD48DB0C0D700795DDEDBB238]" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{D2DDA52F-5472-41A6-9EFD-88BD5A1DC337}\1.0.5761.37734" Name="Class" Value="SolidWorks.Interop.swconst.swDestroyNotifyType_e" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{D2DDA52F-5472-41A6-9EFD-88BD5A1DC337}\1.0.5761.37734" Name="Assembly" Value="Solidworksaddin, Version=1.0.5761.37734, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{D2DDA52F-5472-41A6-9EFD-88BD5A1DC337}\1.0.5761.37734" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{D2DDA52F-5472-41A6-9EFD-88BD5A1DC337}\1.0.5761.37734" Name="CodeBase" Value="file:///[#filFAB571FFD48DB0C0D700795DDEDBB238]" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{D874BA8A-4088-43F4-BB35-D7B4F45665A9}\1.0.5761.37734" Name="Class" Value="SolidWorks.Interop.swconst.swPropertyManagerPageControlType_e" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{D874BA8A-4088-43F4-BB35-D7B4F45665A9}\1.0.5761.37734" Name="Assembly" Value="Solidworksaddin, Version=1.0.5761.37734, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{D874BA8A-4088-43F4-BB35-D7B4F45665A9}\1.0.5761.37734" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{D874BA8A-4088-43F4-BB35-D7B4F45665A9}\1.0.5761.37734" Name="CodeBase" Value="file:///[#filFAB571FFD48DB0C0D700795DDEDBB238]" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{ED2C8943-E2E8-4260-BDE4-CB62C09230FB}\1.0.5761.37734" Name="Class" Value="SolidWorks.Interop.swconst.swCommandTabButtonFlyoutStyle_e" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{ED2C8943-E2E8-4260-BDE4-CB62C09230FB}\1.0.5761.37734" Name="Assembly" Value="Solidworksaddin, Version=1.0.5761.37734, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{ED2C8943-E2E8-4260-BDE4-CB62C09230FB}\1.0.5761.37734" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
            <RegistryValue Root="HKCR" Key="Record\{ED2C8943-E2E8-4260-BDE4-CB62C09230FB}\1.0.5761.37734" Name="CodeBase" Value="file:///[#filFAB571FFD48DB0C0D700795DDEDBB238]" Type="string" Action="write" />
           <!-- <RegistryValue Root="HKCU" Key="Software\SolidWorks\AddInsStartup\{5d8a1f46-ea8c-4ddb-8581-0a52f24245a0}" Value="1" Type="integer" Action="write" />-->
            
            <File Id ="Solidworksaddin.tlb" Name ="Solidworksaddin.tlb" Source="..\Solidworksaddin\bin\x64\Debug\Solidworksaddin.tlb"></File>


          </Component>
          <!-- Command Prompt in Folder .dll ausführen (cmd)
         
          dann von class bis registryvaluew in product.wxs copy paste - file id name auf .dll setzen (optional)
          "C:\Program Files (x86)\WiX Toolset v3.10\bin\heat.exe" file Soliworksaddin.dll -ag -template fragment  -out Solidworksaddin.wxs
            -->
          <!--  <Component Id="Extensibility" Guid="{777028E8-DA56-400E-9C71-844AE328E8BF}">
            Hier nun die zu installierende Datei der Component hinzufügen
            <File Id="Extensibility" Name="extensibility.dll" Source="$(var.EspritAddinMachines.TargetDir)extensibility.dll" KeyPath="yes" />
          </Component> -->
          <!-- Beispiel wie man eine App.Config in das Setup aufnehmen und während der Setup Erstellung umbenennen kann
                Hier wird aus der app.config die WixDemoProjekt.Exe.Config
            -->

          <Component Id="RegistryEntries" Guid="{446D2672-5016-4159-8A7E-BD51C9FECF5F}" >
            <RegistryKey Root="HKLM"
                         Key="SOFTWARE\SolidWorks\AddIns\{5d8a1f46-ea8c-4ddb-8581-0a52f24245a0}"
                  ForceCreateOnInstall ="yes" ForceDeleteOnUninstall="yes" >
              <RegistryValue   Value="0" Type="integer" Action="write" />
              <RegistryValue   Name="Description" Value="Alexs Solidworks AddIn" Type="string" Action="write" />
              <RegistryValue   Name="Title" Value="AddIn for SolidWorks" Type="string" Action="write" />
            </RegistryKey>
            <RegistryKey Root="HKCU" Key="Software\SolidWorks\AddInsStartup\{5d8a1f46-ea8c-4ddb-8581-0a52f24245a0}"
                         ForceCreateOnInstall ="yes" ForceDeleteOnUninstall="yes">
              <RegistryValue  Value="1" Type="integer" Action="write"/>
            </RegistryKey>
          </Component>
          
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <!-- Search new Product -->
  <Fragment>
    <InstallExecuteSequence>
      <Custom Action="PreventDowngrading"
             After="FindRelatedProducts">NEWPRODUCTFOUND</Custom>
      <RemoveExistingProducts After="InstallFinalize" />
    </InstallExecuteSequence>
  </Fragment>
</Wix>